@page "/authentication/{action}"

@using RetroShoeBox.Models
@using Microsoft.Extensions.Logging
@using RetroShoeBox.Services

@inject ILogger<Authentication> Logger
@inject NavigationManager navigationManager

@*<RemoteAuthenticatorView Action="@Action" />*@

<EditForm Model="@userLogin" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>Please enter your details to log in</p>
    <label>Username</label>
    <br />
    <input type="text" @bind-value="userLogin.UserName" />
    <br />
    <label>Password</label>
    <br />
    <input type="password" @bind-value="userLogin.Password" />
    <button type="submit">Login</button>
</EditForm>

@code{
    [Parameter] public string Action { get; set; }

    private readonly UserLogin userLogin = new UserLogin();
    private readonly AuthenticationService authenticationService = new AuthenticationService();

    public string Username { get; set; }

    public string Password { get; set; }

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");

        var isLoggedIn = authenticationService.IsAuthenticated(userLogin.UserName, userLogin.Password);

        if (isLoggedIn)
        {
            navigationManager.NavigateTo("/fetchdata");
        }
        else
        {
            navigationManager.NavigateTo("/");
        }



    }

}
